Protocol.Core/Connected Services/Esam698Service/Esam698Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="htpp://gwkm.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Esam698Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="httpEsam698_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="htpp://gwkm.com" location="http://219.134.129.206:2004/Esam698Service?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="httpEsam698" type="i0:IEsam698Service">
    <wsp:PolicyReference URI="#httpEsam698_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectDevice">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/ConnectDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseDevice">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/CloseDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIp">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/SetIp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRand">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/CreateRand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_IdentityAuthentication">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_IdentityAuthentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_UserControl">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_UserControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterUpdate">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_ParameterUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterUpdate1">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_ParameterUpdate1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterUpdate2">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_ParameterUpdate2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterElseUpdate">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_ParameterElseUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_InCreasePurse">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_InCreasePurse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_InintPurse">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_InintPurse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_DataClear1">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_DataClear1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_DataClear2">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_DataClear2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_InfraredAuth">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_InfraredAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_MacCheck">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_MacCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_EncMacWrite">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_EncMacWrite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_MacWrite">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_MacWrite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_EncForCompare">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_EncForCompare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_DecreasePurse">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_DecreasePurse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_Preset_Card">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Meter_Formal_Preset_Card" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_InitSession">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_InitSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_VerifySession">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_VerifySession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_VerifyReadData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_VerifyReadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_VerifyReportData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_VerifyReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_GetResponseData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_GetResponseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_GetSessionData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_GetSessionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_VerifyMeterData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_VerifyMeterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_GetGrpBrdCstData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_GetGrpBrdCstData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_SetESAMData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_SetESAMData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_GetESAMData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_GetESAMData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_VerifyESAMData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_VerifyESAMData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_GetPurseData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_GetPurseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_EncForCompare">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_EncForCompare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obj_Meter_Formal_GetMeterSetData">
      <soap12:operation soapAction="htpp://gwkm.com/IEsam698Service/Obj_Meter_Formal_GetMeterSetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Esam698Service">
    <wsdl:port name="httpEsam698" binding="tns:httpEsam698">
      <soap12:address location="http://219.134.129.206:2004/Esam698Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://219.134.129.206:2004/Esam698Service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>