Protocol.Core/Connected Services/Esam698Service/Esam698Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOPESAM.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOPESAM.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EsamState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultState" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateData" type="xs:int" />
      <xs:element minOccurs="0" name="StateDataMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EsamState" nillable="true" type="tns:EsamState" />
  <xs:complexType name="OneDataEsamState">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EsamState">
        <xs:sequence>
          <xs:element minOccurs="0" name="EsamData" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OneDataEsamState" nillable="true" type="tns:OneDataEsamState" />
  <xs:complexType name="IdentityAuthenticationState">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EsamState">
        <xs:sequence>
          <xs:element minOccurs="0" name="OutEndata" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutRand" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentityAuthenticationState" nillable="true" type="tns:IdentityAuthenticationState" />
  <xs:complexType name="InitSessionState">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EsamState">
        <xs:sequence>
          <xs:element minOccurs="0" name="OutRandHost" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutSessionInit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutSign" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InitSessionState" nillable="true" type="tns:InitSessionState" />
  <xs:complexType name="VerifyReportDataState">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EsamState">
        <xs:sequence>
          <xs:element minOccurs="0" name="OutData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutRSPCTR" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerifyReportDataState" nillable="true" type="tns:VerifyReportDataState" />
  <xs:complexType name="GetResponseDataState">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EsamState">
        <xs:sequence>
          <xs:element minOccurs="0" name="OutAttachData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutMac" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutSID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetResponseDataState" nillable="true" type="tns:GetResponseDataState" />
  <xs:complexType name="GetESAMDataState">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EsamState">
        <xs:sequence>
          <xs:element minOccurs="0" name="OutAttachData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutRandHost" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutSID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetESAMDataState" nillable="true" type="tns:GetESAMDataState" />
</xs:schema>